# macOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux system files
*.swp
*~

# Logs
*.log

# Temporary files
*.tmp
*.bak
*.old

# Output Folder
optimized_gifs/

# Exclude shell scripts
*.sh
